/* transitions */
.fade-in-up {
  &-enter {
    opacity: 0;
    transform: translateY(2em);
  }
  &-enter-to {
    opacity: 1;
    transform: translateY(0px);
  }
  &-enter-active,
  &-leave-active {
    transition: all 0.5s ease-in-out;
  }
  &-leave {
    opacity: 1;
    transform: scale(1, 1);
  }
  &-leave-to {
    opacity: 0;
    transform: scale(0.1, 0.1);
  }
}
.fade-in-left {
  &-enter {
    opacity: 0;
    transform: translateX(2em);
    background-color: #ffc708;
  }
  &-enter-to {
    opacity: 1;
    transform: translateX(0px);
    background-color: #fff;
  }
  &-enter-active,
  &-leave-active {
    transition: all 0.5s ease-in-out;
  }
  &-leave {
    opacity: 1;
    transform: translateX(0px);
  }
  &-leave-to {
    opacity: 0;
    transform: translateX(-50em);
  }
}
.fade-in-scale {
  &-enter {
    opacity: 0;
    transform: scale(0.9, 0.9);
  }
  &-enter-to {
    opacity: 1;
    transform: scale(1, 1);
  }
  &-enter-active,
  &-leave-active {
    transition: all 0.3s ease-in-out;
  }
  &-leave {
    opacity: 1;
    transform: scale(1, 1);
  }
  &-leave-to {
    opacity: 0;
    transform: scale(0.1, 0.1);
  }
}
